html, body {
    height: 100%;
    margin:20px;
}
table  {
    border-collapse: collapse;
}
 
table td, th  {
    padding: 5px;
}

#name{
	cursor: pointer;
}

.bg-image{
	 background-image: url('https://images.pexels.com/photos/349610/pexels-photo-349610.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    height: 100vh;
}